body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

form {
    margin-top: 20px;
}
label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #3b06fd;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #06047a;
}
#search_nom {
    padding: 8px;
    margin-bottom: 10px;
    width: 200px;
    font-size: 16px;
}

/* Style du bouton de recherche */
input[type="submit"] {
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
}
#critere {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

/* Styles pour le texte dans la barre de choix du critère */
#critere option {
    font-size: 16px;
}