<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion Professeur</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='etud.css') }}">
</head>
<body>

    <div class="login-container">
        <div class="login-header">
            <h2>Connexion Professeur</h2>
        </div>
        <div class="login-form">
            <!-- Ajoutez l'attribut method à la balise form -->
            <form method="post" action="{{ url_for('prof_login') }}">
                <label for="IDprof">ID:</label>
                <!-- Utilisez prof_id comme name pour le champ ID -->
                <input type="number" id="IDprof" name="IDprof" required>

                <br>

                <label for="prof_nom">Nom:</label>
                <input type="text" id="prof_nom" name="Nom_Prof" required>

                <br>

                <button type="submit">Se Connecter</button>
            </form>
            <div id="error-message">{{ error_message }}</div>
        </div>
    </div>

</body>
</html>